.bid-screen-container {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-row-gap: 5px;
    grid-template-rows: auto auto auto auto;

    grid-template-areas: "homebutton biddedCards turn"
                         "bidButtons bidButtons bidButtons"
                         "bidOptions bidOptions bidOptions"
                         "hand hand hand";
    height: 100vh;
    width: 100vw;
}

.hand {

    display:flex;
    flex-direction: row;
    text-align: left;
    justify-self: center;
    align-self: start;
    grid-area:hand;

    border-style:solid;
    /* border-width: 5px; */
    border-radius: 5px;
    border-color: beige;
    background-color: beige;
}

.hand-text{
    /* transform: rotate(-90deg); */
    text-align: start;
    /* justify-self: start; */
    align-self: center;
    font-size: 2rem;
    /* font-style: italic; */
    font-weight: bold;
    position: relative;
    /* left:50px; */
}

.bid-turn{
    grid-area:turn;
    margin-left: 40px;
    justify-self: start;
    align-self: center;
}
.biddedCards {
    grid-area: biddedCards;
    align-self: start;
    justify-self: center;
    border-radius: 10px;
}


.bidOptions {
    grid-area: bidOptions;
    text-align: center;
    align-self: center;
    display: block;

}

.bidOption {
    height: calc(100vh / 9);
    margin-top: 4px;
    margin-left: 20px;
    margin-right: 20px;
    transition: transform .05s;
}

.bidOption:hover{
    transform: scale(2.5);
    rotate:350;
}


.homebutton {
    position: relative;
    top:0px;
    left:0px;
    grid-area: homebutton;
    height: 10vh;
    width: 6vw;
}

.buttons {
    grid-area: bidButtons;
    align-self: center;
    justify-self: center;
}

.bid-button {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 1em;
    padding:0px;
    padding-right:15px;
    padding-left:15px;
}
